/************************ DEFAULT ************************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************************ GENERAL ************************/

html, body{
    font-family: 'Lato', serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin:0;
    padding: 0;
}

h1 {
    font-family: 'Philosopher', serif;
    margin: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    background: #fff;
}

.wrapper .container:not(:first-of-type) {
    display: none;
}

/************************ PROGRESS BAR **************************/

#progressbar {
    width: 350px;
    position: fixed;
    top: 30px;
    left: 50%;
    padding-left: 0px;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #000232;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: #000232;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #000232;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #e71d73;
    color: white;
}

@media screen and (max-height: 700px), screen and (max-width: 525px) {
    #progressbar {
        position: fixed;
        top: 0px;
        margin: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
        background: white;
        padding: 15px;
        left: 50%;
        padding-left: 0px;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        overflow: hidden;
        counter-reset: step;
        z-index: 10;
    }
}

/************************ ALERTS ************************/

#alerts {
    position: fixed;
    top: 40px;
    width: 300px;
    right: -320px;
    transition: all 200ms ease-in;
    z-index: 99;
}

#alerts:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.17);
}

.slide {
    right: 30px !important;
}

.alert {
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
}

.alert.error {
    background: #ed3b4a;
}

.alert.success {
    background: #6dd865;
}

.msg {
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', serif;
    position: relative;
    top: -30px;
}

@media screen and (max-width: 525px) {
    .msg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        transform: translateX(-50%) translateY(-50%);
    }

    .again {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 300px;
        transform: translateX(-50%) translateY(-50%);
    }
}

.m-error i {
    display: inline-block;
    margin-right: 10px;
    color: #ed3b4a;
}

.m-success i {
    display: inline-block;
    margin-right: 10px;
    color: #6dd865;
}

.m-error p, .m-success p {
    display: inline-block;
}

.again {
    text-align: center;
    position: relative;
    top: -25px;
}

.again a {
    color: #999 !important;
    text-decoration: underline;
    transition: letter-spacing 100ms ease-in;
}

.again a:hover {
    letter-spacing: 1px;
}

.credits {
    position: absolute;
    font-size: 8px;
    text-align: center;
    width: 100%;
    left: 0px;
    bottom: 10px;
    color: #999;
}

.credits a {
    color: #656464;
}

.credits i {
    color: #e81e72;
}

/************************ CONTENT ************************/

#form-sendmarks {
    text-align: center;
}

.input-error {
    border: 1px solid #ed3b4a !important;
}

.footer p {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 12px;
}

.footer img {
    width: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.container {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    background: #fcfcfc;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 525px) {
    .container {
        width: 100%;
        height: auto;
        min-height: 500px;
        position: absolute;
        margin-top: 80px;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0px;
        background: #fcfcfc;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
    }

    .container .header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .footer img {
        width: 40px;
        bottom: 15px;
    }

    .file-upload-wrapper:before {
        content: 'Télécharger' !important;
        font-size: 9px !important;
    }
}

@media screen and (max-height: 660px) {
    .container {
        margin-bottom: 75px;
    }

    .footer p, .footer img {
        position: fixed;
        z-index: -1;
    }
}

#container-3 {
    height: auto !important;
}

.header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    padding: 15px;
    color: #fff;
    background: #000232;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align :center;
}

.header p {
    text-align: center;
    margin: 0px;
}

.content {
    padding: 25px;
}

.content label {
    text-transform: uppercase;
    font-size: 11px;
    color: #000232;
    font-weight: bold;
    text-align: left;
}

label, input {
    display: block;
}

.input-form {
    width: 100%;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    margin-top: 10px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
    text-align: left;
}

.file-upload-wrapper:before {
    content: 'Télécharger';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 40px;
    background: #e71d73;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 14px;
    line-height: 40px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
    transition: background 100ms ease-in;
}

.file-upload-wrapper:hover:before {
    background: #e01868;
}

.file-upload-wrapper input {
    font-family: 'Lato', serif;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.content input[type=text] {
    width: 100%;
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 10px 15px;
    color: #999;
    margin-top: 10px;
    font-family: 'Lato', serif;
    font-size: 14px;
    outline: none;
    transition: box-shadow 100ms ease-in;
}

.file-upload-wrapper.input-error {
    border: none !important;
}

.file-upload-wrapper.input-error:after {
    border: 1px solid #ed3b4a;
}

.content input[type=text]:focus {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.11);
}

.content input[type=text]::placeholder {
    color: #999;
    font-family: 'Lato', serif;
    font-size: 14px;
}

.content .submit {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', serif;
    font-size: 14px;
    background: #000232;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 525px) {
    .content .submit {
        padding: 15px 25px;
    }
}

/************************ TABLE RECAP ************************/

.table-content {
    margin-top: -10px;
    max-height: 253px;
    overflow: scroll;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table th:first-child {
    width: 60px;
}

table th:nth-child(2) {
    width: 115px;
}

table th:last-child {
    width: 80px;
}

table caption {
    font-size: 1.5em;
}

table tr {
    padding: .35em;
}

table tr:hover, table tr:nth-child(even):hover {
    background: #f1f1f1;
}

table tr:nth-child(even) {
    background: #f8f8f8;  
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    background: #e81e72;
    color: #fff;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
